/Users/anietieakpan/PycharmProjects/CountingPeople/category4/models/yolo3_darknet53_coco-09767802.params
/Users/anietieakpan/PycharmProjects/CountingPeople/category4_old_aniix/models/yolo3_darknet53_coco-09767802.params
.DS_Store
*.zip
*.zip
